<template name="recordbar">

    <div class="btn-group" role="group" aria-label="...">
        <button type="submit" class="btn btn-default btn-sm js-save-record"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></button>
        <button type="button" class="btn btn-default btn-sm js-delete-record"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-default btn-sm js-history-record"><span class="glyphicon glyphicon-time"></span></button>
    </div>

</template>